body {
			background-color: #155757
			}
		header, footer {
			background-color: darkgreen;
			color: #a34b2a
			}
		.border { border-style: solid; border-color: #a34b2a
		}
		#Past-Experiences {border: thick dashed orange
		 }